<div class="row">
    <div class="col-md-8 com-sm-12" id="left">
        <div class="panel">
            <div class="panel-body">
                <ol class="breadcrumb">
                    <li><a href="/">主页</a></li>
                    <li><a href="/user_read/{{ .LoginUser.UserID }}">个人中心</a></li>
                    <li>编辑个人资料</li>
                </ol>
                <form action="/user_edit" method="POST">
                    {{ .xsrfdata }}
                    <div class="form-group">
                        <label for="l1"><i class="fa fa-address-card-o fa-fw"></i> 昵称</label>
                        <input type="text" name="nickname" class="form-control" id="l1" placeholder="Nickname"
                            maxlength="10" value="{{ .LoginUser.Nickname }}">
                    </div>
                    <div class="form-group">
                        <label for="l3"><i class="fa fa-dot-circle-o fa-fw"></i> 简介</label>
                        <input type="text" name="in_short" class="form-control" id="l3" placeholder="InShort"
                            maxlength="20" value="{{ .LoginUser.InShort }}">
                    </div>
                    <div class="form-group">
                        <label for="l4"><i class="fa fa-venus-mars fa-fw"></i> 性别</label>
                        <select name="sex" class="form-control" id="l4">
                            <option {{ if eq .LoginUser.Sex "男" }} selected="selected" {{ end }} name="男">男</option>
                            <option {{ if eq .LoginUser.Sex "女" }} selected="selected" {{ end }} name="女">女</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="l5"><i class="fa fa-birthday-cake fa-fw"></i> 生日</label>
                        <div class="input-group date check_time1" data-date="1979-09-16" data-date-format="yyyy-mm-dd"
                            data-link-field="dtp_input1">
                            <input type="text" name="birthday" class="form-control" id="l5"
                                value='{{ date .LoginUser.Birthday "Y-m-d" }}' maxlength="16" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                        <input class="form-control" type="hidden" id="dtp_input1" /><br />
                    </div>
                    <div class="form-group">
                        <label for="l6"><i class="fa fa-minus-square fa-fw"></i> 详细介绍</label>
                        <textarea type="text" rows="3" name="introduce" class="form-control" id="l6" maxlength="200"
                            placeholder="Introduce">{{ .LoginUser.Introduce }}</textarea>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary btn-block">提交</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-4 hidden-sm hidden-xs">
        <div class="panel">
            <div class="panel-body">
                <ol class="breadcrumb">
                    <li><i class="fa fa-qrcode fa-fw"></i>打赏二维码</li>
                </ol>
                <div class="text-center">
                    <div><img src="{{ .LoginUser.QrImg }}" width="60%"></div><br>
                    <div><span data-toggle="modal" data-target=".bs-example-modal-sm" class="btn btn-default btn-xs">
                        &nbsp;&nbsp;更换二维码&nbsp;&nbsp;
                    </span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--更换打赏二维码模态框start-->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div id="clipArea"></div>
                <input style="display: none" type="file" id="file">
                <form id="uploadForm" enctype="multipart/form-data">
                    {{ .xsrfdata }}
                    <div class="text-center">
                        <a class="btn btn-default" id="checkImg">选择图片</a> <button class="btn btn-primary" id="clipBtn"
                            data-dismiss="modal">确认提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!--图片裁剪js-->
<script src="/static/js/iscroll-zoom.js"></script>
<script src="/static/js/hammer.js"></script>
<script src="/static/js/jquery.photoClip.js"></script>
<script>
    $('.check_time1').datetimepicker({
        autoclose: 1,
        minView: 2,
    });

    $('form').bind('submit', function () {
        var tmp = ajaxSubmit(this, function () {
            if (tmp.responseJSON.status) {
                $("#alert").html('<div class="text-center alert alert-success" role="alert">' + tmp.responseJSON.msg + '</div>')
                window.setTimeout(function () {
                    window.location.href = "/user_read/{{ .LoginUser.UserID }}"
                }, 1000);
            } else {
                $("#alert").html('<div class="text-center alert alert-danger" role="alert">' + tmp.responseJSON.msg + '</div>')
            }
        })
        return false;
    })

    const XSRF = $('input[name="_xsrf"]').val();

$("#checkImg").on('click', function () {
    $('#file').click()
});

// 图片裁剪
$("#clipArea").photoClip({
    width: 200,
    height: 200,
    file: "#file",
    ok: "#clipBtn",
    outputType: "jpg",
    loadStart: function () {
        console.log("照片读取中");
    },
    loadComplete: function () {
        console.log("照片读取完成");
    },
    clipFinish: function (dataURL) {
        console.log(dataURL);
        // 图片上传
        var formData = new FormData();
        formData.append('file', dataURLtoFile(dataURL, randomString() + '.jpg'));
        formData.append('_xsrf', XSRF);
        $.ajax({
            url: '/upload',
            type: 'POST',
            cache: false,
            processData: false,
            contentType: false,
            data: formData,
            success: function (res) {
                // 修改头像
                var i = new FormData();
                i.append('path', res.data.path);
                i.append('_xsrf', XSRF);
                $.ajax({
                    url: '/qr_img_update',
                    type: 'POST',
                    cache: false,
                    processData: false,
                    contentType: false,
                    data: i,
                    success: function (res) {
                        if (res.status) {
                            $("#alert").html('<div class="text-center alert alert-success" role="alert">' + res.msg + '</div>')
                            window.setTimeout(function () {
                                window.location.href = "/user_edit"
                            }, 1000);
                        } else {
                            $("#alert").html('<div class="text-center alert alert-danger" role="alert">' + res.msg + '</div>')
                        }
                    }
                })
            }
        })
    }
})
</script>