<div class="row">
    <div class="col-md-8" id="left">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2" {{ if eq .LoginUser.UserID .UserInfo.UserID }} data-toggle="modal"
                        data-target=".bs-example-modal-sm" {{ end }}>
                        <img {{ if eq .LoginUser.UserID .UserInfo.UserID }} data-toggle="tooltip"
                            data-placement="bottom" title="点击更换头像" {{ end }} class="img-responsive border-radius-2px"
                            src="{{ .UserInfo.AvatarURL }}">
                    </div>
                    <div class="col-md-10">
                        <p>
                            <span style="font-weight: 900; font-size: 26px">{{ .UserInfo.Nickname }}</span>&nbsp;&nbsp;
                            <span style="font-size: 16px;"> {{ .UserInfo.InShort }}</span>
                        </p>
                        <p>{{ .UserInfo.Introduce }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="color: #999">
                        <span class="gray"><i class="fa fa-venus-mars fa-fw"></i>{{ .UserInfo.Sex }}</span>&nbsp;&nbsp;
                        <span class="gray"><i
                                class="fa fa-birthday-cake fa-fw"></i>{{ date .UserInfo.Birthday "Y-m-d" }}</span>
                    </div>
                    <div class="col-md-6 text-right">
                        {{ if .LoginStatus }}
                        {{ if eq .LoginUser.UserID .UserInfo.UserID }}
                        <a href="/user_edit">编辑个人资料</a>
                        {{ else }}
                        {{ if $.FollowStatus }}
                        <button id="follow" class="btn btn-xs">&nbsp;取消关注&nbsp;<i class="fa fa-hand-spock-o fa-fw"></i>&nbsp;</button>
                        {{ else }}
                        <button id="follow" class="btn btn-primary btn-xs">&nbsp;关注&nbsp;<i class="fa fa-hand-spock-o fa-fw"></i>&nbsp;</button>
                        {{ end }}
                        {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <h3>{{ .ArticleCount }}</h3>
                        <a href="/user/{{ .UserInfo.UserID }}/article">
                            <p><i class="fa fa-align-left fa-fw"></i>创作的文章</p>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <h3>{{ .ArticleCollectCount }}</h3>
                        <a href="/user/{{ .UserInfo.UserID }}/collect_article">
                            <p><i class="fa fa-dropbox fa-fw"></i>收藏的文章</p>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <h3>{{ .UserInfo.FollowNum }}</h3>
                        <a href="/user/{{ .UserInfo.UserID }}/follow_user">
                            <p><i class="fa fa-hand-scissors-o fa-fw"></i>关注的用户</p>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <span>
                            <span style="font-size: 1.2em">{{ .AllArticleDataCount.SumReadNum }}</span>&nbsp;
                            <span style="color: #999">阅读<i class="fa fa-eye fa-fw"></i></span>
                        </span>&nbsp;&nbsp;&nbsp;
                        <span>
                            <span style="font-size: 1.2em">{{ .AllArticleDataCount.SumLikeNum }}</span>&nbsp;
                            <span style="color: #999">柠檬<i class="fa fa-lemon-o fa-fw"></i></span>
                        </span>&nbsp;&nbsp;&nbsp;
                        <span>
                            <span style="font-size: 1.2em">{{ .AllArticleDataCount.SumCollectNum }}</span>&nbsp;
                            <span style="color: #999">收藏<i class="fa fa-dropbox fa-fw"></i></span>
                        </span>&nbsp;&nbsp;&nbsp;
                        <span>
                            <span style="font-size: 1.2em">{{ .AllArticleDataCount.SumCommentNum }}</span>&nbsp;
                            <span style="color: #999">评论<i class="fa fa-comment-o fa-fw"></i></span>
                        </span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <span>
                            <span style="font-size: 1.2em">{{ .UserInfo.FansNum }}</span>&nbsp;
                            <span style="color: #999">
                                <a href='/user/{{ .UserInfo.UserID }}/fans'>
                                    粉丝<i class="fa fa-handshake-o fa-fw"></i>
                                </a>
                            </span>
                        </span>&nbsp;&nbsp;&nbsp;                      
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 hidden-sm hidden-xs">
    </div>
</div>

<!--头像裁剪模态框start-->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div id="clipArea"></div>
            <input style="display: none" type="file" id="file">
            <form id="uploadForm" enctype="multipart/form-data">
                {{ .xsrfdata }}
                <div class="text-center">
                    <a class="btn btn-default" id="checkImg">选择图片</a> <button class="btn btn-primary" id="clipBtn"
                        data-dismiss="modal">确认提交</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--图片裁剪js-->
<script src="/static/js/iscroll-zoom.js"></script>
<script src="/static/js/hammer.js"></script>
<script src="/static/js/jquery.photoClip.js"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    const XSRF = $('input[name="_xsrf"]').val();

    $("#checkImg").on('click', function () {
        $('#file').click()
    });

    // 图片裁剪
    $("#clipArea").photoClip({
        width: 200,
        height: 200,
        file: "#file",
        ok: "#clipBtn",
        outputType: "jpg",
        loadStart: function () {
            console.log("照片读取中");
        },
        loadComplete: function () {
            console.log("照片读取完成");
        },
        clipFinish: function (dataURL) {
            console.log(dataURL);
            // 图片上传
            var formData = new FormData();
            formData.append('file', dataURLtoFile(dataURL, randomString() + '.jpg'));
            formData.append('_xsrf', XSRF);
            $.ajax({
                url: '/upload',
                type: 'POST',
                cache: false,
                processData: false,
                contentType: false,
                data: formData,
                success: function (res) {
                    // 修改头像
                    var i = new FormData();
                    i.append('path', res.data.path);
                    i.append('_xsrf', XSRF);
                    $.ajax({
                        url: '/avatar_url_update',
                        type: 'POST',
                        cache: false,
                        processData: false,
                        contentType: false,
                        data: i,
                        success: function (res) {
                            if (res.status) {
                                $("#alert").html('<div class="text-center alert alert-success" role="alert">' + res.msg + '</div>')
                                window.setTimeout(function () {
                                    window.location.href = "/user_read"
                                }, 1000);
                            } else {
                                $("#alert").html('<div class="text-center alert alert-danger" role="alert">' + res.msg + '</div>')
                            }
                        }
                    })
                }
            })
        }
    })

    // 关注
    $("#follow").click(function () {
        $.ajax({
            url: '/user_op/user_follow/{{ .UserInfo.UserID }}',
            type: 'GET',
            success: function (res) {
                if (res.status) {
                    // 调整关注按钮
                    if ($('#follow').hasClass('btn-primary')) {
                        $('#follow').removeClass("btn-primary");
                        $('#follow').html('&nbsp;取消关注&nbsp;<i class="fa fa-hand-spock-o fa-fw"></i>&nbsp;')
                    } else {
                        $('#follow').addClass("btn-primary");
                        $('#follow').html('&nbsp;关注&nbsp;<i class="fa fa-hand-spock-o fa-fw"></i>&nbsp;')
                    }
                    $("#alert").html('<div class="text-center alert alert-success" role="alert">' + tmp.responseJSON.msg + '</div>')
                } else {
                    $("#alert").html('<div class="text-center alert alert-danger" role="alert">' + res.msg + '</div>')
                }
            }
        })
    })
</script>