{{ if .LoginStatus }}

<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <a href="/user_read/{{ .LoginUser.UserID }}">
                    <img width="100%" style="height:75px" class="img-responsive border-radius-2px"
                        src="{{ .LoginUser.AvatarURL }}">
                </a>
            </div>
            <div class="col-md-8">
                <a href="/user_read/{{ .LoginUser.UserID }}" style="color: #333">
                    <p style="font-size:18px;font-weight:600">{{ .LoginUser.Nickname }}</p>
                </a>
                <p>{{ .LoginUser.InShort }}</p>
            </div>
        </div>
    </div>
</div>

{{ else }}

<div class="panel">
    <div class="panel-body">
        <h4>MaomaoGogo</h4>
        <p style="color: #999">猫猫狗狗是一个关于宠物，关于生活和互相帮助的地方</p>
        <hr>
        <p class="text-center">
            <a href="/register" class="btn btn-default btn-xs" style="font-size: 15px;font-weight: 600"> 现在注册
            </a>
        </p>
        <div class="text-center">
            已注册用户请 <a href="/login">登录</a>
        </div>
    </div>
</div>
{{ end }}