<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body text-center">
                <img src="/static/images/404.png" style="height: 400px">
                <p style="color:#999;font-size:20px;font-weight: 600">{{ .Content }}</p>
                <a href="/" class="gray">
                    <i class="fa fa-map-signs fa-fw" style="transform:rotate(7deg);"></i>
                    返回主页
                </a>
            </div>
        </div>
    </div>
</div>