<div class="row">
    <div class="col-md-8 com-sm-12" id="left">
        <div class="panel">
            <div class="panel-body">
                <ol class="breadcrumb">
                    <li><a href="/">主页</a></li>
                    <li>看文章</li>
                </ol>
                <h3><strong>{{ .Article.Title }}</strong></h3>
                <div style="margin-bottom: 15px">
                    <a>
                        <img src="{{ .Article.User.AvatarUrl }}" alt="头像" width="24px"
                            style="border-radius: 2px;">&nbsp;
                        <span style="font-size: 15px;color: #000">{{ .Article.User.Nickname }}</span>&nbsp;
                        <span style="color: #999; font-size: 12px;">
                            创建于{{ date .Article.CreatedAt "Y-m-d H:i:s" }}
                            &nbsp;·&nbsp;
                            {{ .Article.ReadNum }} 阅读
                            &nbsp;·&nbsp;
                            {{ .Article.LikeNum }} 柠檬
                        </span>
                    </a>
                </div>
                <div class="article_content"></div>
                <div>
                    <span style="color:#646464">标签：</span>
                    {{ range StrSplitForBlankSpace .Article.Tag }}
                    <span class="badge">{{ . }}</span>
                    {{ end }}
                </div>
                <hr>
                <div class="row" style="margin-bottom: 5px;">
                    <div class="col-md-12">
                        {{ if .LikeStatus }}
                        <button id="like" class="btn btn-primary btn-sm"><i class="fa fa-lemon-o fa-fw"></i>柠檬 {{ .LikeNum }}</button>
                        {{ else }}
                        <button id="like" class="btn btn-sm"><i class="fa fa-lemon-o fa-fw"></i>柠檬 {{ .LikeNum }}</button>
                        {{ end }}
                        <button class="btn btn-sm"><i class="fa fa-paper-plane fa-fw"></i>分享</button>
                        <button class="btn btn-sm"><i class="fa fa-star fa-fw"></i>收藏</button>
                        <button class="btn btn-sm" data-toggle="modal" data-target=".bs-example-modal-sm"><i
                                class="fa fa-qrcode"></i> 打赏</button>
                        <button class="btn btn-sm">
                            <div class="dropup">
                                <span class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">举报</a></li>
                                    <li><a href="#">不感兴趣</a></li>
                                </ul>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 hidden-sm hidden-xs">
        {{template "home/layout/self.html" .}}
    </div>
</div>

<!--打赏模态框start-->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <img class="img-thumbnail" src="/static/images/qr.jpg" width="100%">
        </div>
    </div>
</div>
<!--打赏模态框start-->

<script>
    $(".article_content").html('{{ .Article.Content }}')

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    $("#like").click(function () {
        $.ajax({
            url: '/user_op/article_like/{{ .Article.ArticleId }}',
            type: 'GET',
            success: function (res) {
                if (res.status) {
                    $("#alert").html('<div class="text-center alert alert-success" role="alert"><strong>SUCCESS! </strong><br>' + res.msg + '</div>')
                    window.setTimeout(function () {
                        window.location.reload();
                    }, 1000);
                } else {
                    $("#alert").html('<div class="text-center alert alert-danger" role="alert"><strong>ERROR! </strong><br>' + res.msg + '</div>')
                }
            }
        })
    })
</script>